@model University.Data.Controllers.CartController.OrderConfirmationViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand">Магазин комп'ютерного комплектуючого</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="@Url.Action("Products", "Product")">Головна</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1>Підтвердження замовлення</h1>
        <p>Дякуємо за ваше замовлення! Нижче наведена інформація про ваше замовлення:</p>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Інформація про замовлення</h5>
                <p class="card-text">Ім'я: @Model.order.Name</p>
                <p class="card-text">Прізвище: @Model.order.Surname</p>
                <p class="card-text">Адреса: @Model.order.Address</p>
                <p class="card-text">Номер телефона: @Model.order.Phone</p>
                <p class="card-text">Поштова адреса: @Model.order.Email</p>
                <p class="card-text">Сума замовлення: @(Model.fullPrice)₴</p>
            </div>
        </div>
    </div>
    <footer class="container mt-5">
        <p class="float-left">
            <a href="#">Повернутися нагору</a>
        </p>
        <p>
            © 2023 Non-commercial product. · <a href="#">Конфіденційність</a> ·
            <a href="#">Умови використання</a>
        </p>
    </footer>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>